export(Codebook.Entry)
export(connectDB)
export(createLaTeXparameters)
export(dzip)
export(fix.sample.size.line)
export(flattenList)
export(get.line)
export(insert.note)
export(kill.lines)
export(latex.column.label)
export(latex.row.label)
export(pp.big.number)
export(regression.table)
export(spanning.latex.column.label)
export(write.image)
