export(AddTableNote)
export(Codebook.Entry)
export(big.letter.theme)
export(clusterSE)
export(createLaTeXparameters)
export(dzip)
export(fix.sample.size.line)
export(flattenList)
export(genParamAdder)
export(get.line)
export(get_field_names)
export(insert.note)
export(kill.lines)
export(latex.column.label)
export(latex.row.label)
export(pp.big.number)
export(regression.table)
export(render)
export(spanning.latex.column.label)
export(starLabel)
export(tableContinuous2)
export(tableNominal2)
export(wasItUsed)
export(write.image)
export(writeImage)
